body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* striped rows in commits table */
table tr:nth-child(2n) td {
  background-color: #eee;
}

.home-bg {
  background-image: linear-gradient(to left top, #50aeeb, #1ba7d5, #009fbb, #0096a0, #0c8b85);
}